/*list*/
.content_list{margin-left:30px;min-width:1200px;width:90%}
.content_list .content_top{position:relative;height:68px;min-width:1500px}
.content_list .content_top > div{text-align:right}
.content_list .content_top .startdate_wrap input,
.content_list .content_top .enddate_wrap input{height:31px;text-align:center;display:inline-block}
.content_list .content_top > div select[name='sstype']{width:120px;display:inline-block}
.content_list .content_top > div select[name='sbrand']{width:120px;display:inline-block}
.content_list .content_top > div select[name='skind']{width:120px;display:inline-block}
.content_list .content_top > div select[name='stype']{width:120px;display:inline-block}
.content_list .content_top > div select[name='smoveyn']{width:120px;display:inline-block}
.content_list .content_top > div input[name="skeyword"]{width:180px;display:inline-block}
.content_list .content_top > div .gap{margin:10px 0}
.content_list .content_top > div .line{border-top:1px solid #222222;margin:10px 0}
.content_list table{margin-top:20px;font-size:13px;min-width:1500px}
.content_list .cb{display:inline}
.content_list tbody td{text-align:center;vertical-align:middle !important}
.content_list tbody .tal{text-align:left}
.thead-inverse th{background-color:#292b2c;color:#fff;text-align:center}
.content_list .content_bottom .content_left{float:left;width:25%;height:30px}
.content_list .content_bottom .content_middle{float:left;width:50%;height:30px;text-align:center}
.content_list .content_bottom .content_right{float:left;width:25%;height:30px;text-align:right}
.content_list table .empty{text-align:center;height:200px}
.content_list table .title{width:550px}
.content_list table .usey{color:#1a8c61;font-weight:bold}
.content_list table .usen{color:#ab0000;font-weight:bold}
.content_list table tr td.aleft{text-align:left}
.content_list .thumb{width:60px;height:60px;overflow:hidden;margin:0 auto}
.content_list .thumb img{width:100%}
.startdate_wrap, .enddate_wrap{width:150px;display:inline-block;vertical-align:bottom}
.amount_info_wrap{position:absolute;top:0px;left:0;height:47px;display:inline-block;}
.amount_info_wrap table{width:100%;min-width:unset !important;margin-top:0 !important}
.amount_info_wrap table td{border:1px solid #555858;padding:0 15px}
.amount_info_wrap table .bg{background-color:#292b2c;color:#fff;padding:2px 10px;text-align:center}
.amount_info_wrap table .txt{background-color:#fff;text-align:right;padding-right:5px}
.amount_info_wrap > p{width:190px;position:absolute;bottom:-9px;right:1px;text-align:left;font-weight:bold}

.active{color:#fff}
.active td{background-color:#a6a6a6 !important}

/*write, modify*/
.ui-datepicker-title > *{vertical-align:top}
.form-group .pt2{padding-top:2px}
.form-group .pt7{padding-top:7px}
.content_write{margin-left:30px;width:800px}
.content_write > form{width:800px}
.content_write > iframe{width:957px;height:700px;border:1px solid #222222;position:absolute;top:94px;left:637px;margin-bottom:20px}
.content_write .content_bottom{margin-top:20px}
.content_write .content_bottom .content_left{float:left;width:100%;height:30px;text-align:left;padding-left:208px}
.content_write .content_bottom .content_right{float:left;width:17.2%;height:30px}
.content_write select[name='useyn']{width:150px}
.content_write #txteditor{width:320px;height:200px}
.content_write .mh400{min-height:200px}
.content_write input[name='attach_file[]']{padding:3px 10px;margin-top:5px}
.content_write .modify_attach_file_wrap{height:30px;margin-top:4px}
.content_write .modify_attach_file_wrap *{display:inline-block}
.content_write .modify_attach_file_wrap label{cursor:pointer;margin-left:4px}
.content_write .modify_attach_file_wrap label span{margin-left:4px;color:#FF2633}
.content_write .modify_attach_file_wrap input[name='attach_file[]']{width:300px;margin:0}
.content_write .modify_attach_file_wrap i{margin-left:5px}
.content_write .modify_attach_file_wrap a{margin-left:4px;width:306px;height:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.content_write .ex_txt{text-align:center;width:38px;padding:7px 0 0 0;font-weight:normal}
.content_write .ex_txt2{text-align:left;width:300px;padding:7px 0 0 0;font-weight:normal}
.content_write input[type="checkbox"]{width:14px;height:14px;margin:8px 0 0 4px;display:inline-block}
.content_write .checkboxtxt{display:inline-block;vertical-align:top;padding:4px 0 0 7px;box-sizing:border-box;font-weight:normal}
.content_write label{cursor:pointer}

.red{color:#e72e2e}

iframe[name="hiddenFrm"]{display:none}

.thumb{width:400px}

input[name=astype_etc_txt]{position:relative;top:-4px;margin-left:5px;width:300px;display:inline-block;}
input[name=reference_etc_txt]{position:relative;top:-4px;margin-left:5px;width:300px;display:inline-block;}

#purchase_modelname{position:relative;top:4px}

.form-group.cus{height:80px;position:relative}
.form-group.cus > div{width:1050px;position:absolute;top:0;left:208px;display:inline-block;}
.form-group.cus > div input[type='text']{width:800px}

#purchase_pdate{position:relative;top:4px}